
#fixed-container, #moving-container {
	position: absolute;
	padding: 0px;
	margin: auto;	
}

li.scroll_block {
	width: 260px;
	height: 160px;
	float: left;
	margin: 10px;
	padding: 10px;
	border: 1px gray solid;
	position: absolute;
	display: inline-block;
	overflow: hidden;
}

#fixed-container li.scroll_block {
	background-color: #EEEEEE;
}

.remove {
	float: right;
	font-family: Arial, sans;
}

.logo {
	padding-top: 20px;
}