<html>
	<head>
{% load staticfiles %}
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>		
		<script type="text/javascript" src="{% static 'js/jsrender.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/tanktop-utils.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/tanktop-infscroll.js' %}"></script>	
		<link href="{% static "css/infscroll.css" %}" rel="stylesheet"></link>
	</head>
	<body>
		<ul id="moving-container" class="container">
			<!-- Moving tiles are loaded here  -->
		</ul>
		<ul id="fixed-container" class="container">
			<!--  Fixed tiles are loaded here -->
		</ul>
		<div id="loading">
			<p id="loading_message"></p>
		</div>		
	</body>
</html>

<script type="text/javascript">
var moving_url = "http://api.twitter.com/1/statuses/user_timeline.json";
var moving_url = "";
var moving_field = 'thing';
var fixed_url = null; //"http://placekitten.com/300/200";
var fixed_field = 'thing';

var num_moving_blocks = 8;
var num_fixed_blocks = 1;
var moving_lefts = [0, 300, 600, 0, 600, 0, 300, 600];
var moving_tops = [0, 0, 0, 200, 200, 400, 400, 400];
var fixed_lefts = [300,];
var fixed_tops = [200];
var fewer_lefts = [0, 152, 304, 456, 608, 760, 0, 152, 304, 456, 608, 760, 0, 152, 304, 456];
var fewer_tops = [0, 0, 0, 0, 0, 0, 217, 217, 217, 217, 217, 217, 434, 434, 434, 434];
var page_height = 600;
var fewer_limit = 12;
var truncate = [0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4];

function doAfterLoading(data) {
	// A function that gets called every time a page of data gets loaded
	console.log("Data loaded");
}

function doOnCompletion(data) {
	// A function that gets called when there is no more data left to display
	console.log("All data loaded");
}

function getLeft(index, num_blocks, lefts) {	
	// Return x co-ordinate of the block with the given index
	// num_blocks - number of blocks of this type (fixed or moving)
	// moving - true if these are the moving blocks
	var block = Math.floor(index/num_blocks);
	var item = index - (block * num_blocks);
	return lefts[item];
}

function getTop(index, num_blocks, tops) {
	// Return y co-ordinate of the block with the given index
	var block = Math.floor(index/num_blocks);
	var item = index - (block * num_blocks);
	return block * page_height + tops[item];
}

function getUrlParameter(name) {
	return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
}

function load_non_json_data(loadDown, tiles) {
	console.log("Loading down? " + loadDown);
	if ((tiles == null) || (tiles.settings.numberToLoad == 0)) {
		console.log("No data to load");
		return
	}
	
	var start = loadDown ? tiles.maxLoaded : tiles.minLoaded - tiles.settings.numberToLoad;    	
	console.log("Loading non JSON from " + start);
	
    //return $.get(tiles.settings.url);     	
    return $.get({
        url: tiles.settings.url,
        error: function(j, e, t){
            alert('error' + j + e + t);
        }
    });

}

function load_twitter(loadDown, tiles) {
	console.log("Loading down? " + loadDown);
	if ((tiles == null) || (tiles.settings.numberToLoad == 0)) {
		console.log("No data to load");
		return
	}
	
	var start = loadDown ? tiles.maxLoaded : tiles.minLoaded - tiles.settings.numberToLoad;    	
	console.log("Loading from " + start);
	var page = Math.floor(start / tiles.settings.numberToLoad);

	var params = { 'include_entities' : true, 'screen_name' :'tanktoptv', 'count' : tiles.settings.numberToLoad, 'page' : page, 'per_page' :  tiles.settings.numberToLoad };
	
    return $.getJSON(tiles.settings.url, params).fail(function(j, e, t) {
    	console.log(j + e + t);
    });    	

	return $.ajax({
        url: tiles.settings.url,
        data: params,
        type: 'GET',
        dataType: 'text',
        beforeSend: setHeader,
        error: function(j, e, t){
            alert('error');
        }
    });

}

function fake_json(loadDown, tiles) {
	var json_thing = '{"name" : "Tank Top Movies", "site" : "movies.tanktop.tv", "logo" : "{% static 'images/TankTopMovies.png' %}"}';
	var json_multiple_things = Array( num_moving_blocks ).join(json_thing + ",");
	json_multiple_things += json_thing;
	var json_string = '{"thing" : [' + json_multiple_things + ']}';
	var data_obj = JSON.parse(json_string); 
	return [data_obj, "success", "some response text would go here"];
}

function fake_other_json(loadDown, tiles) {
	data_obj = JSON.parse('{"thing" : [{"name" : "Tank Top Movies", "site" : "movies.tanktop.tv"}, {"name" : "Tank Top TV", "site" : "www.tanktop.tv"},{"name" : "Tank Top Movies", "site" : "movies.tanktop.tv"}, {"name" : "Tank Top TV", "site" : "www.tanktop.tv"},{"name" : "Tank Top Movies", "site" : "movies.tanktop.tv"}, {"name" : "Tank Top TV", "site" : "www.tanktop.tv"},{"name" : "Tank Top Movies", "site" : "movies.tanktop.tv"}, {"name" : "Tank Top TV", "site" : "www.tanktop.tv"},{"name" : "Tank Top Movies", "site" : "movies.tanktop.tv"}, {"name" : "Tank Top TV", "site" : "www.tanktop.tv"}]}'); 
	return [data_obj, "success", "some response text would go here"];
}

$(document).ready(function() {
	$(document).on("click", '.remove', function(e){
		e.stopPropagation();
		console.log("Removing a block");
		var current_block = $(this).closest(".scroll_block"); 		
		var block_id = current_block.attr("id");

		current_block.fadeTo('fast', 0.5, function() {
			current_block.remove();
			$(".container").trigger("items-removed");
		});
	})
	.on("items-removed", ".container", function() {
		$(".moving").each(function(index) {
			var $this = $(this);
			$this.css({"left": getLeft(index, num_moving_blocks, moving_lefts), "top": getTop(index, num_moving_blocks, moving_tops)});
		});

		// And decrement the number of moving blocks we currently have
		$(window).infscroll('decrement');
	});

    $("#loading_message").html("Loading contents...");

    var current_page = getUrlParameter('page');
	console.log("Starting from page " + current_page);		

	$(window).infscroll({
        pageHeight: page_height,
        completion: doOnCompletion,
        current_page: 0,
        after_loading: doAfterLoading,
		moving_tiles : {
			url: moving_url,
        	target: "#moving-container",
            template: "moving-mosaic.html",
	        jsonField: moving_field,
	        numberToLoad: num_moving_blocks,
			helpers : {
				left: function(index) {
					return getLeft(index, num_moving_blocks, moving_lefts);
				},
				top: function(index) {
					return getTop(index, num_moving_blocks, moving_tops);
				},		
				block_index: function(index) {
					return index;
				}
			},
			load_data_fn: fake_json,
		},
		fixed_tiles : {
			url: fixed_url,
        	target: "#fixed-container",
            template: "fixed-mosaic.html",
	        jsonField: fixed_field,			
	        numberToLoad: num_fixed_blocks,
			helpers : {
				left: function(index) {
					return getLeft(index, num_fixed_blocks, fixed_lefts);
				},
				top: function(index) {
					return getTop(index, num_fixed_blocks, fixed_tops);
				},	
				truncate: function(main_blocks_length) {
					return truncate[main_blocks_length];
				}
			},				
			load_data_fn: fake_json,
		},
		fewer_tiles : {
			limit : fewer_limit, 
			extra_class : "standard-block",
			target : ".movie-container",
			helpers : {
				left: function(index) {
					return getLeft(index, fewer_limit, fewer_lefts); 
				},
				top: function(index) {
					return getTop(index, fewer_limit, fewer_tops); 
				}
			}
		}
	});
});		
		
</script>		
