<html>
	<head>
{% load staticfiles %}
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jsrender.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/tanktop-utils.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/tanktop-infscroll.js' %}"></script>
		<link href="{% static "css/infscroll.css" %}" rel="stylesheet"></link>
	</head>
	<body>
		<ul id="moving-container" class="container">
			<!-- Moving tiles are loaded here  -->
		</ul>
		<ul id="fixed-container" class="container">
			<!--  Fixed tiles are loaded here -->
		</ul>
		<div id="loading">
			<p id="loading_message"></p>
		</div>
	</body>
</html>

<script type="text/javascript">
// We don't set the URLs for moving or fixed blocks, because in this example we are faking the responses
var moving_url = "";
var moving_field = 'thing';
var fixed_url = "";
var fixed_field = 'thing';

// Layout for the blocks.  There are 8 moving blocks surrounding one fixed block in the middle.
var num_moving_blocks = 8;
var num_fixed_blocks = 1;
var moving_lefts = [0, 300, 600, 0, 600, 0, 300, 600];
var moving_tops = [0, 0, 0, 200, 200, 400, 400, 400];
var fixed_lefts = [300,];
var fixed_tops = [200];
var page_height = 600;

// We never use fewer or truncate in this example
var fewer_limit = 10;
var fewer_lefts = [0, 0, 0];
var fewer_tops = [0, 0, 0];
var truncate = [0, 2, 2];

function do_after_each_load(data) {
	// A function that gets called every time a page of data gets loaded
	console.log("Data loaded");
}

function do_after_first_load(data) {
	// A function that gets called when the first page of data has been loaded
	console.log("All data loaded");
}

function getLeft(index, num_blocks, lefts) {
	// Return x co-ordinate of the block with the given index
	// num_blocks - number of blocks of this type (fixed or moving)
	// moving - true if these are the moving blocks
	var block = Math.floor(index/num_blocks);
	var item = index - (block * num_blocks);
	return lefts[item];
}

function getTop(index, num_blocks, tops) {
	// Return y co-ordinate of the block with the given index
	var block = Math.floor(index/num_blocks);
	var item = index - (block * num_blocks);
	return block * page_height + tops[item];
}

// In this example we use this to get the page parameter from the URL.  In practice we load the same data for every page in this example.
function getUrlParameter(name) {
	return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
}

// This is faking up a json response for the sake of the example.
// For real life usage, set the URLs for fixed and moving blocks, and don't specify a load_data_fn in the settngs for infscroll
function fake_json(loadDown, tiles) {
	var json_thing = '{"name" : "Tank Top Movies", "site" : "movies.tanktop.tv", "logo" : "{% static 'images/TankTopMovies.png' %}"}';
	var json_multiple_things = Array( num_moving_blocks ).join(json_thing + ",");
	json_multiple_things += json_thing;
	var json_string = '{"thing" : [' + json_multiple_things + ']}';
	var data_obj = JSON.parse(json_string);
	return [data_obj, "success", "some response text would go here"];
}

$(document).ready(function() {

	// Handling the click to remove a moving block
	$(document).on("click", '.remove', function(e){
		e.stopPropagation();
		console.log("Removing a block");
		var current_block = $(this).closest(".scroll_block");
		var block_id = current_block.attr("id");

		current_block.fadeTo('fast', 0.5, function() {
			current_block.remove();
			$(".container").trigger("items-removed");
		});
	})
	.on("items-removed", ".container", function() {
		// when a block has been removed we shuffle all the moving blocks back one place
		$(".moving").each(function(index) {
			var $this = $(this);
			$this.css({"left": getLeft(index, num_moving_blocks, moving_lefts), "top": getTop(index, num_moving_blocks, moving_tops)});
		});

		// And decrement the number of moving blocks we currently have
		$(window).infscroll('decrement');
	});

    $("#loading_message").html("Loading contents...");

    var current_page = getUrlParameter('page');
	console.log("Starting from page " + current_page);

	$(window).infscroll({
        pageHeight: page_height,
        current_page: 0,
        doAfterFirstLoad: do_after_first_load,
        doAfterEachLoad: do_after_each_load,
		moving_tiles : {
			url: moving_url,
        	target: "#moving-container",
            template: "moving-mosaic.html",
	        jsonField: moving_field,
	        numberToLoad: num_moving_blocks,
			helpers : {
				left: function(index) {
					return getLeft(index, num_moving_blocks, moving_lefts);
				},
				top: function(index) {
					return getTop(index, num_moving_blocks, moving_tops);
				},
				block_index: function(index) {
					return index;
				}
			},
			load_data_fn: fake_json, // remove this if you want to load real JSON
		},
		fixed_tiles : {
			url: fixed_url,
        	target: "#fixed-container",
            template: "fixed-mosaic.html",
	        jsonField: fixed_field,
	        numberToLoad: num_fixed_blocks,
			helpers : {
				left: function(index) {
					return getLeft(index, num_fixed_blocks, fixed_lefts);
				},
				top: function(index) {
					return getTop(index, num_fixed_blocks, fixed_tops);
				},
				truncate: function(main_blocks_length) {
					return truncate[main_blocks_length];
				}
			},
			load_data_fn: fake_json, // remove this if you want to load real JSON
		},
		fewer_tiles : {  // in practice we don't use this in the example
			limit : fewer_limit,
			extra_class : "standard-block",
			target : ".container",
			helpers : {
				left: function(index) {
					return getLeft(index, fewer_limit, fewer_lefts);
				},
				top: function(index) {
					return getTop(index, fewer_limit, fewer_tops);
				}
			}
		}
	});
});

</script>
